!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Comic Book Day for iPhone and iPad
    %link{:rel => "stylesheet", :href => "style.css?re", :type => "text/css"}
    %link{:rel => "canonical", :href => "https://www.studioamanga.com/comicbookday/"}
    %link{:rel => "shortcut icon", :href => "https://www.studioamanga.com/img/favicon.ico"}
    %link{:rel => "apple-touch-icon-precomposed", :href => "../img/touch-icon-iphone4.png"}
    %link{:rel => "apple-touch-icon-precomposed", :href => "../img/touch-icon-ipad.png", :sizes => "72x72"}
    %meta{:name => "description", :content => "Comic Book Day. Never miss a release of your favorite comic book."}
    %meta{:name => "viewport", :content => "width=device-width"}
    %meta{:name => "apple-itunes-app", :content => "app-id=788312005"}
  %body
    %nav.general
      %ul
        %li
          %a{:href => "https://www.studioamanga.com/"}
            %img{:alt => "StdAMG", :src => "img/icon-amg.png"}
            %span Studio AMANgA

    %header.top.cropped-bottom
      %div.title
        %img.icon{:alt => "Icon", :src => "img/icon-72-2x.png"}
        %h1 Comic Book Day
      %div
        %img.showcase{:alt => "Screens", :src => "img/screens.png"}

    %section.main
      %div.tagline
        Never miss a release of your favorite comic book.
      %div.feature
        %h3 Notifications
        %img{:src => "img/icon-star.png", :alt => "Star"}
        %p 
          Receive a notification every time a new issue comes out.
      %div.feature
        %h3 Keeping Track
        %img{:src => "img/icon-star.png", :alt => "Star"}
        %p
          Organize the comic books you’ve already read, and know what to read next.
      %div.feature
        %h3 Library
        %img{:src => "img/icon-star.png", :alt => "Star"}
        %p 
          Import volumes directly from a database of more than 380,000 comic books, manga, and other international publications.
      %div.feature
        %h3 For Comic Book Lovers
        %img{:src => "img/icon-star.png", :alt => "Star"}
        %p 
          Share your favorite issues with your friends, and discover new books to love.

      %p.download
        %a{:href => "https://itunes.apple.com/app/comic-book-day/id788312005?mt=8&at=1000lMiD"}
          %img{:alt => "Download on the App Store", :src => "img/download-appstore.svg"}/

    %div.screenshots
      %img{:src => "img/screen-reading.png", :alt => "Star"}
      %img{:src => "img/screen-volume.png", :alt => "Star"}
      %img{:src => "img/screen-characters.png", :alt => "Star"}
      %img{:src => "img/screen-alfred.png", :alt => "Star"}
      %img{:src => "img/screen-credits.png", :alt => "Star"}
      %img{:src => "img/screen-snyder.png", :alt => "Star"}

    %footer
      %a{:href => "https://www.studioamanga.com"}
        %img{:alt => "StdAMG", :src => "img/amgmini-black.png"}/
      %p
        “Comic Book Day” for iPhone, iPad, and iPod touch
        %br
        %a{:href => "releasenotes"} Release Notes
        \/
        %a{:href => "comicbookday-presskit.zip"} PressKit
        %br
        Made by Studio AMANgA 2014-2019
    
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18279263-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
