!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Comic Book Day for iPhone and iPad
    %link{:rel => "stylesheet", :href => "style.css?nw", :type => "text/css"}
    %link{:rel => "canonical", :href => "https://www.studioamanga.com/comicbookday/"}
    %link{:rel => "shortcut icon", :href => "https://www.studioamanga.com/img/favicon.ico"}
    %meta{:name => "description", :content => "Comic Book Day. Never miss a release of your favorite comic book."}
    %meta{:name => "viewport", :content => "width=device-width"}
    %meta{:name => "apple-itunes-app", :content => "app-id=788312005"}
  %body
    %nav.general
      %a{:href => "https://www.studioamanga.com/"}
        %img{:alt => "StdAMG", :src => "img/icon-amg.png"}
        %span Studio AMANgA

    %header.top.cropped-bottom
      %div.title
        %img.icon{:alt => "Icon", :src => "img/icon-72-2x.png"}
        %h1 Comic Book Day
      %div
        %img.showcase{:alt => "Screens", :src => "img/screens.png"}

    %section.main
      %p.tagline
        Never miss the latest issue of your favorite comic book.
      %p.tagline
        Featured by Apple on the Mac App Store:
        %br
        %q{:style => "font-style: italic; font-weight: normal;"} Apps and Games We Love Right Now


      %p.download
        %a{:href => "https://apps.apple.com/app/comic-book-day/id788312005"}
          %img{:alt => "Download on the App Store", :src => "img/download-appstore.svg"}/
        
      %p
        %strong Keep Track
        %br
        Organize the books you’ve already read, and know what to read next.
      %p
        %strong Get Notified
        %br
        Receive a notification every time a new issue comes out.
      %p
        %strong Discover
        %br
        Import books directly from a database of more than 380,000 comic books, manga, and other international publications.
      %p
        %strong Anytime, Anywhere
        %br
        The app is available on iPhone, iPad, and Mac. Your library is always synchronized with iCloud.

      %p
        %a{:href => "https://apps.apple.com/app/comic-book-day/id788312005"}
          Download Comic Book Day for free on the App Store and Mac App Store.

    %div.screenshots
      %img{:src => "img/screen-readinglist-2x.png", :alt => "Reading List screenshot", :style => "width: 260px;"}
      %img{:src => "img/screen-details-2x.png", :alt => "Issue details screenshot", :style => "width: 260px;"}
      %img{:src => "img/screen-volume-2x.png", :alt => "Volume screenshot", :style => "width: 260px;"}
      %img{:src => "img/screen-credits-2x.png", :alt => "Credits screenshot", :style => "width: 260px;"}

    %footer
      %a{:href => "https://www.studioamanga.com"}
        %img{:alt => "StdAMG", :src => "img/amgmini-black.png"}/
      %p
        “Comic Book Day” for iPhone, iPad, and Mac
        %br
        %a{:href => "releasenotes"} Release Notes
        \/
        %a{:href => "privacy-policy"} Privacy Policy
        \/
        %a{:href => "comicbookday-presskit.zip"} PressKit
        %br
        Made by Studio AMANgA 2014-2022
